<main class="w-100 m-auto border rounded shadow" style="padding: 15px;">
        <div class="d-flex mb-2">
          <h5 class="card-title my-auto">Events</h5>
          <%= link_to bootstrap_icon("plus-lg"), new_user_path, class:"btn btn-primary ms-auto" %>
        </div>
</main>