<main class="text-center w-100 m-auto">
    <div class="container-sm">
        <%= image_tag("bock.png", alt: "Bündnerclub Logo", style: "height: 100px;", class: "mb-4") %>
    <h1>Registrierung erfolgreich</h1>
    <%= link_to "Anmelden", root_path, class: "btn btn-primary w-25 mt-4" %>
    </div>
</main>
