/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html,
body {
  height: 100%;
}

body.sessions {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.password_resets {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.form-signin-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-middle {
  border-radius: 0;
  margin-bottom: -1px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.slide-up {
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: all .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

a > .bi {
  margin-right: .25rem;
}